/Persona/nbproject/private/
/PersonaTest/nbproject/private/
/PersonaTest/build/
/PersonaTest/dist/
/TestiClassi/nbproject/private/
/TestiClassi/build/
/TestCellulare/nbproject/private/
/TestCellulare/build/
/testFrigo/nbproject/private/
/testFrigo/build/
/TestGarage/nbproject/private/
/TestGarage/build/
/TestPackage/nbproject/private/
/TestPackage/build/
/TestAnonimi/nbproject/private/
/TestAnonimi/build/
/TestLibreria/nbproject/private/
/RipassoAnonime/nbproject/private/
/RipassoAnonime/dist/
/RipassoAnonime/build/
/TestLibreria/build/
/TestStudente/nbproject/private/
/TestStudente/build/
/TestDipendente/nbproject/private/
/TestDipendente/build/
/TestProdotto/nbproject/private/
